.templateName {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.templateName__main {
    flex-grow: 1;
}

.templateName__header {}

.templateName__footer {}
